.card-container {
    margin: auto;
    padding: 20px;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: height;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 3s;
    /* Standard syntax */
    transition-property: height;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 3s;
}

.card {
    width: 100%;
    max-width: 350px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1.25rem;
    box-shadow: 10px 10px 5px black;
    text-align: center;
    margin: auto;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.btn {
    line-height: 1;
}

.header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 60px;
    color: aliceblue;
}