.card-container {
    margin: auto;
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 350px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1.25rem;
    box-shadow: 10px 10px 5px #aaaaaa;
    text-align: center;
    margin: auto;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.btn {
    line-height: 1;
}