@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){
    .book-card {
        margin: 20px !important;
    }
}

.disp-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.book-card {
  background-color: #000000;
  box-shadow: 7px 7px 5px black;
  color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  max-width: 270px;
  min-width: 270px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.book-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.book-card img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.75;
  width: 270px;
  min-height: 370px;
}

.book-card figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  max-width: 270px;
}

.book-card .book-id {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.book-card .book-id span {
  display: block;
  line-height: 14px;
}

.book-card h3 {
  font-weight: 800;
  white-space: nowrap;
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}

.book-card .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.book-card:hover .hover,
.book-card.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}

.book-card:hover .book-id,
.book-card.hover .book-id {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
